<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
</head>
<body>

    <div>
        <div class="header">
            <span class="page-title"><a href="index.html">Brf Skagag&#229;rd</a></span>
            <div>
                <ul class="navigation">
                    <li><a href="news.html">Nyheter</a></li>
                    <li><a href="member.html">Medlem</a></li>
                    <li><a href="map.html"><strong>Omr&#229;det</strong></a></li>
                    <li><a href="contact.html">Kontakt</a></li>
                </ul>
            </div>
        </div>
        <div class="mood" style="background-image: url(&quot;./img/mood/staticmap.png&quot;);">
        </div>
        <div class="container">
            <div class="sw-editable" id="contentArea">
                <div class="news-item">
                    <h2>
                        Omr&#229;det runt Kista g&#229;rd
                    </h2>
                    <p>
                        Kista &#228;r ett sp&#228;nnande omr&#229;de fullt av utveckling och potential. Mitt i IT-Sveriges k&#228;rna hittar du m&#246;jligheter till ett stillsamt boende med goda kommunikationer och n&#228;ra till friluftsliv och gr&#246;nomr&#229;den. Nedan f&#246;ljer grundl&#228;ggande information om det n&#228;rliggande omr&#229;det.
                    </p>
                    <h3>
                        Aff&#228;rer och restauranger
                    </h3>
                    <p>
                        Kista Galleria &#228;r ett av Sveriges st&#246;rsta k&#246;pcentrum med &#246;ver 180 olika aff&#228;rer och restauranger. H&#228;r finns Skandinaviens st&#246;rsta modeboulevard, en food court som erbjuder mat fr&#229;n alla v&#228;rldens h&#246;rn, hotell samt Stockholms n&#228;st st&#246;rsta biograf med 11 salonger. De flesta av butikerna har &#246;ppet till &#229;tminstone 21:00 de flesta dagarna p&#229; &#229;ret. Runtom Kista Galleria finns dessutom ett gediget serviceutbud med banker, sjukv&#229;rd och diverse kommunala serviceinr&#228;ttningar.
                    </p>

                    <h3>
                        Skolor och barnomsorg
                    </h3>
                    <p>

                        Flera skolor finns i omr&#229;det, med god tillg&#229;ng p&#229; daghem och f&#246;rskolor.
                    </p>

                    <h3>
                        Kommunikation
                    </h3>

                    <p>
                        Tunnelbanans bl&#229; linje mellan mellan T-centralen och Kista tar ca 18 min. Fr&#229;n Kista Centrum finns bussf&#246;rbindelser till stora delar av norra och v&#228;stra Stockholm. Kista har ocks&#229; n&#228;ra anslutningar till b&#229;de E4 och E18, samt promenadavst&#229;nd till Pendelt&#229;g i n&#228;rliggande Helenelund.
                    </p>

                    <h3>
                        Natur och fritid
                    </h3>

                    <p>
                        Kista Science City har ett stort utbud av sport- och rekreationsm&#246;jligheter med tillg&#229;ng till flera motionsanl&#228;ggningar. I Kistas omedelbara n&#228;rhet ligger J&#228;rvaf&#228;ltet, ett av l&#228;nets st&#246;rsta naturreservat med flera motionssp&#229;r och fina gr&#246;nomr&#229;den.
                        <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script async="async" src="/admin/js/checker.js"></script>
</body>
</html>