#parking63 {
    width: 3.8%;
    height: 10%;
    top: 9.6%;
    left: 61.4%;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(5deg);
}
#parking64 {
    width: 4%;
    height: 10%;
    top: 9.8%;
    left: 65%;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(5deg);
}
#parking65 {
    width: 4%;
    height: 10%;
    top: 10.2%;
    left: 68.8%;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(5deg);
}
#parking66 {
    width: 7.3%;
    height: 5.3%;
    top: 32.5%;
    left: 64.6%;
}
#parking67 {
    width: 7.3%;
    height: 5%;
    top: 37.6%;
    left: 64.6%;
}
#parking68 {
    width: 7.3%;
    height: 4.8%;
    top: 42.6%;
    left: 64.6%;
}
#parking69 {
    width: 7.3%;
    height: 4.9%;
    top: 47.4%;
    left: 64.5%;
}
#parking70 {
    width: 7%;
    height: 5.3%;
    top: 54.3%;
    left: 64.6%;
}



#parking75 {
    width: 7.1%;
    height: 5%;
    top: 37.4%;
    left: 46.6%;
}
#parking76 {
    width: 7%;
    height: 5.1%;
    top: 32.5%;
    left: 46.7%;
}
#parking77 {
    width: 3.6%;
    height: 9.8%;
    top: 32.5%;
    left: 43.1%;
}
#parking78 {
    width: 3.5%;
    height: 9.8%;
    top: 32.5%;
    left: 39.5%;
}
#parking79 {
    width: 7.2%;
    height: 5%;
    top: 42.3%;
    left: 39.5%;
}
#parking80 {
    width: 7.2%;
    height: 5%;
    top: 47.2%;
    left: 39.5%;
}
#parking81 {
    width: 7.2%;
    height: 5.3%;
    top: 52.0%;
    left: 39.5%;
}
#parking82 {
    width: 7%;
    height: 4.8%;
    top: 57.3%;
    left: 39.6%;
}
#parking83 {
    width: 7%;
    height: 5.5%;
    top: 62%;
    left: 39.6%;
}
#parking84 {
    width: 7%;
    height: 5.2%;
    top: 67.4%;
    left: 39.6%;
}
#parking85 {
    width: 7%;
    height: 5.2%;
    top: 72.5%;
    left: 39.6%;
}
#parking86 {
    width: 7%;
    height: 5.5%;
    top: 77.7%;
    left: 39.5%;
}